<h1> Edit Your Profile</h1>

<%= render 'form' %>


<!-- These links are Subject to change -->

<%= link_to 'Index of Users', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Albums Index', albums_path %>