<h1>PiCritique Club Members</h1>

   
<body>
    <div class="index-container-div">
    <% @users.each do |user| %>
        <div class="individual-index-divs"
        <a href="/users/<%= user.id%>"> <img src="<%= user.avatar %>" class="index-photo"></a></br>
        <a href="users/<%=user.id%>" id="username"><%= user.name %></a>

        <%# link_to 'View Profile', user_path(user) %>
    <% end %>
    </div>

    <%= link_to 'Logout', logout_path %>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Albums Index', albums_path %>
</body>


 

