<h1>Edit Your Album</h1>

<div class="main-div">
<%= render 'form' %>

<%= link_to, 'Home', root_path %>
<%= link_to, 'Your Profile', user_path %>
<%= link_to, 'All Albums', albums_path %>
<% link_to 'Index of Albums', albums_path %>
<% link_to 'Create a New Album', new_album_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>

</div>