<h1> Index of All Albums </h1> 

<div class="main-div">
<% @albums.each do |album| %>
<p><%= album.name %>:</p>
<a href="albums/<%=album.id%>"><img src="<%= album.cover_photo %>" class="index-photo"></a> 
</br>
<%= link_to 'Edit Album', album_photos_path(album) %>
</br>
<%= link_to 'View Album', album_path(album) %>
<% end %>

<%= link_to 'Users Index', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Create a New Album', new_album_path %>
</div>