<%= form_for([@album, @photo, @rating], remote: true) do |f| %>

<div class="field">
    <%= f.label :setting %><br>
    <%= f.text_field :setting %>
  </div>    
  <div class="field">
    <%= f.label :hotness %><br>
    <%= f.text_field :hotness %>
  </div>
  <div class="field">
    <%= f.label :originality %><br>
    <%= f.text_field :originality %>
  </div>
  
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :attitude %><br>
    <%= f.text_field :attitude %>
  </div>
  <div id="submit-ratings">
    <%= f.submit %>
  </div>

<% end %>