<h1>Add a photo to <%=@album.name%>!</h1>

<%= render 'submit_photo_form' %>

<%= link_to 'Index of Users', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Albums Index', albums_path %>
