<h1>Rate this pic or leave a comment!</h1>

<img src="<%=@photo.content%>" class="showcase">

<%# render 'comment_input' %>

<p id="rating-input">
	<%= render 'rating_form' %>
</p>

<div id="submitted-rating">

</div>

<div id="ratings-content">
	<p>Average Rating for this Photo: <%= @photo.average_rating%> </p>
</div>

<div id ="comment-div">
	<p>Leave Feedback:</p>
	<textarea id= "comment-input">
	</textarea></br> <button id="submit-comment">
		<p>Post Comment </p>
	</button>
	<% @photo.comments.each do |comment| %>
	<p><img class='thumbnail' src="<%= comment.user.avatar %>"><%= comment.content %></p>
	<% end %>
</div>

<%= link_to 'Index of Users', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Albums Index', albums_path %>
